@import url("styles/variables/defaults.css");
@import url("styles/variables/queries.css");
@import url("styles/variables/light.css") screen and (prefers-color-scheme: light);
@import url("styles/variables/dark.css") screen and (prefers-color-scheme: dark);

html {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}
body {
    background-color: var(--primary-a-1-default);
    color: var(--primary-b-1-default);
}
body header > div:not(.progress),
body main > *,
body footer > * {
    transition: filter .2s cubic-bezier(0, 0, .34, 1)!important;
}
body:not(.default) header > div:not(.progress),
body:not(.default) main > *,
body:not(.default) footer > * {
    filter: blur(4px);
    opacity: .3;
}
:where(main, section, footer) a {
    text-decoration: none;
    color: var(--primary-b-1-default);
    transition: opacity .3s cubic-bezier(0, 0, .34, 1);
}
:where(main, section, footer) p a {
    background: linear-gradient(transparent 0%, transparent 59%, hsl(var(--primary-b-2-hsl) / 30%) 60%, hsl(var(--primary-b-2-hsl) / 30%) 100%);
    box-shadow: 0 2px 0 hsl(var(--primary-b-2-hsl) / 30%);
}
:where(main, section, footer) a:hover {
    color: var(--primary-b-1-default);
    opacity: .6;
}
h3 {
    font-weight: var(--font-weight-default-3);
}
body.light img.dark {
    display: none;
}
body.light img.light {
    display: inline;
}
body.dark img.light {
    display: none;
}
body.dark img.dark {
    display: inline;
}
:where(p, div, span).text-muted {
    color: var(--primary-b-1-default)!important;
    opacity: .6;
}
p.text-muted.text-neg {
    color: var(--primary-b-1-default)!important;
}
nav {
    position: absolute;
    z-index: 1;
    width: 100vw;
}
nav ul {
    padding: 0;
    list-style: none;
}
nav :where(a, button) {
    transition: opacity .25s cubic-bezier(.34, 0, .5, 1)!important;
}
nav a {
    color: var(--primary-b-1-default);
    text-decoration: none;
}
nav a:hover {
    color: inherit;
    opacity: .6;
}
nav .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-b-1-default)!important;
}
nav :where(.navbar-brand, .navbar-collapse) {
    padding-left: 1rem;
}
nav .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    height: 8rem;
}
nav .nav-links {
    display: flex;
}
nav .nav-link {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.25rem;
    font-weight: var(--font-weight-default-5);
}
nav :where(.nav-tabs, .main-links) {
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 0.5rem;
    border: none!important;
}
nav .nav-link {
    position: relative;
    background: transparent!important;
    color: var(--primary-b-1-default)!important;
    border: none!important;
    transition: opacity .3s cubic-bezier(0, 0, .34, 1);
}
nav .nav-link,
nav .nav-link.default:hover {
    border: none;
    isolation: isolate;
    opacity: .6;
}
nav .nav-link:where(.active, .default),
nav .nav-link:hover {
    opacity: 1;
}
/* nav .nav-link.active {
    border-bottom: 1px solid var(--primary-b-1-default);
} */
nav.navbar-large button.nav-link:after {
    content: "";
    position: absolute;
    width: .5rem;
    height: .5rem;
    background: var(--primary-b-1-default);
    border-radius: .25rem;
    top: calc(100% + 0.25rem);
    left: calc(50% - 0.25rem);
    opacity: 1;
    transition: opacity .1s cubic-bezier(0, 0, .34, 1) .1s;
    opacity: 0;
}
nav.navbar-large button.nav-link.default:after,
nav.navbar-large .nav-link:after {
    opacity: 0;
}
nav.navbar-large button.nav-link.active:after,
nav.navbar-large button.nav-link:hover:after {
    opacity: .6;
}
nav .nav-link.btn {
    display: flex;
    align-items: center;
    height: 3rem;
    background: var(--primary-b-1-default)!important;
    color: var(--primary-a-1-default)!important;
    border-radius: 1.5rem!important;
    font-weight: var(--font-weight-4);
}
@media (prefers-color-scheme: dark) {
    nav .nav-link.btn {
        font-weight: var(--font-weight-5);
    }
}
nav .tab-wrapper {
    padding: 0 1.5rem;
    display: flex;
    justify-content: flex-end;
}
nav .tab-content,
nav .tab-content > .active {
    display: flex!important;
}
nav :where(.tab-content, .tab-pane) {
    transition: opacity .3s cubic-bezier(0, 0, .34, 1);
}
nav .tab-content:before {
    position: absolute;
    top: 8rem;
    z-index: -1;
    width: 100%;
    height: 700px;
    background: linear-gradient(rgba(34, 59, 51, 0.9) 67%, rgba(34, 59, 51, 0) 100%);
}
nav .tab-pane {
    opacity: 1;
    pointer-events: all;
    width: calc(100vw - 3rem);
    max-width: 1400px;
    min-height: 420px;
    background: var(--primary-b-1-default);
    border-radius: 1rem;
    box-shadow: 0 64px 64px hsl(var(--primary-a-1-hsl) / 32%);
    overflow: hidden;
}
body.dark nav .tab-pane {
    box-shadow: 0 64px 64px hsl(var(--primary-a-1-hsl) / 88%);
}
nav .tab-pane:not(.show) {
    opacity: 0;
}
nav .tab-pane.show {
    opacity: 1;
}
nav .links-pane {
    position: relative;
    padding: 1.75rem 1.25rem 1.75rem 2.25rem;
    /* border: 1px solid rgba(255, 255, 255, .1); */
}
@media (min-width: 1400px) {
    nav .links-pane {
        padding: 4rem 2.25rem 4rem 4.5rem;
        /* border: 1px solid rgba(255, 255, 255, .1); */
    }
}
nav .links-pane.size-1 {
    width: 25%;
}
nav .links-pane.size-2 {
    width: 50%;
}
.links-pane.focus-bg img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .5;
    object-position: 40px -110%;
}
nav .links-pane :where(a, span) {
    display: block;
}
nav .links-pane ul {
    margin: 0;
    padding: 0;
}
nav .links-pane ul li {
    margin-bottom: 2rem;
}
nav .links-pane ul li:last-child {
    margin-bottom: 0;
}
nav .links-pane a {
    color: var(--primary-a-1-default)!important;
}
nav .links-pane a:hover {
    color: var(--primary-a-1-default)!important;
}   
nav .links-pane a :where(p, span) {
    max-width: 35rem;
}
nav .links-pane a span:nth-child(1) {
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: var(--font-weight-4);
}
nav .links-pane a span:nth-child(2) {
    font-size: 1.25rem;
    opacity: .6;
    font-weight: var(--font-weight-4);
}
@media (prefers-color-scheme: light) {
    nav .links-pane a span:nth-child(1) {
        font-weight: var(--font-weight-4);
    }
    nav .links-pane a span:nth-child(2) {
        font-weight: var(--font-weight-3);
    }
}
@media (prefers-color-scheme: light) {
    nav .navbar-toggler {
        color: var(--primary-b-1-default)!important;
        border-color: var(--primary-b-1-default)!important;
    }
    nav .navbar-toggler-icon {
        filter: brightness(0)!important;
    }
}
body.light nav .navbar-toggler {
    color: var(--primary-b-1-default)!important;
    border-color: var(--primary-b-1-default)!important;
}
body.light nav .navbar-toggler-icon {
    filter: brightness(0)!important;
}
nav .dropdown-menu {
    background-color: transparent!important;
    border: none!important;
}
nav .dropdown-menu .dropdown-item {
    color: var(--primary-b-1-default)!important;
}
nav .dropdown-menu .dropdown-item:hover {
    background-color: transparent!important;
}
nav .dropdown-menu .dropdown-divider {
    border-color: var(--primary-b-1-default)!important;
}
header {
    overflow: hidden;
}
header .features {
    margin-top: 10rem;
}
header .aside.features {
    margin-top: 16rem;
    margin-bottom: 12rem;
}
header .features .illustration img {
    position: absolute;
    width: clamp(333px, 43.428571vw, 1024px);
    height: auto;
}
header .aside.features .illustration img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.home header .features .illustration img {
    position: static;
}
header .features h1 {
    position: relative;
    z-index: 0;
    margin-top: clamp(-192px, -13.714285vw, -40px);
    font-size: clamp(3rem, 5.714285vw, 5rem);
    font-weight: var(--font-weight-default-4);
    line-height: 1;
}
header .aside.features .row {
    position: relative;
}
header .aside.features .illustration {
    position: absolute;
    margin-top: -8rem;
    /* width: 100%; */
    height: 100%;
}
@media (max-width: 991.98px) {
    header .aside.features .illustration {
        opacity: .3;
    }
}
header .aside.features h1 {
    margin-top: 0;
}
header .features p {
    font-size: 1.25rem;
}
header .features p.lead {
    font-size: 2rem;
    font-weight: var(--font-weight-default-4);
    line-height: 1.5;
    letter-spacing: -0.004em;
}
header .aside.features p.lead {
    margin-top: 3rem;
}
@media (max-width: 767.98px) {
    header .features .support-us {
        flex-flow: column;
    }
}
header .btn-fsn-wrapper {
    margin-left: -0.75rem;
}
body > main {
    margin-top: -6rem;
}
main {
    padding: 6rem 0 0 0;
}
@media (max-width: 1399.98px) {
    main {
        padding: 3rem 0 0 0;
    }
    .tile .content .text main :where(h2, h3) {
        font-size: 3rem;
    }
}
@media (max-width: 1199.98px) {
    .tile.half-height {
        padding-bottom: 0!important;
    }
    .tile .content,
    .tile .content .text {
        position: relative!important;
    }
    .ratio::before {
        display: none;
    }
    .ratio > * {
        position: static;
    }
}
main > :where(p, span) {
    font-size: 1.25rem;
}
footer p {
    color: var(--primary-b-1-default)!important;
}
.btn-fsn-wrapper {
    display: flex;
}
.btn.btn-fsn {
    display: flex;
    background: var(--primary-b-1-default);
    border-radius: 1.75rem;
    border: none!important;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    color: var(--primary-a-1-default);
    font-size: 1.25rem;padding: 0 1.5rem 0 1.5rem;
    font-weight: var(--font-weight-5);
    letter-spacing: 0.01em;
    transition: opacity .3s cubic-bezier(0, 0, .34, 1);
}
.btn.btn-fsn:hover {
    opacity: .6;
}
.progress {
    height: 24px;
    border-radius: 0;
    background: rgba(0, 0, 0, .3);
}
.progress .progress-bar {
    background: var(--primary-b-1-default)!important;
    border-radius: 0 12px 12px 0;
    color: var(--primary-a-1-default);
    font-size: 1rem;
    font-weight: var(--font-weight-default-6);
    line-height: 1.5;
}
.progress .progress-bar span.under-50 {
    position: absolute;
    left: calc(100% + 1rem);
    color: white;
    opacity: .6;
}

:where(.tile, .card) {
    border: none!important;
    box-shadow: none!important;
    border-radius: 1rem!important;
    background-color: rgba(0, 0, 0, .06)!important;
    color: var(--primary-b-1-default)!important;
}
@media (prefers-color-scheme: dark) {
    :where(.tile, .card) {
        background-color: rgba(0, 0, 0, .1)!important;
    }
}
:where(.tile, .card) h3 {
    font-size: 2rem;
    font-weight: var(--font-weight-default-5);
}
@media (prefers-cholor-scheme: light) {
    :where(.tile, .card) h3 {
        font-weight: var(--font-weight-default-6);
    }
}
:where(.tile, .card) p {
    font-size: 1.25rem;
}
/* .tiles-group {
    display: flex;
    align-items: stretch;
}
.tiles-group > * {
    padding: 0.75rem;
} */
.tile {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.tile.half-height {
    position: relative;
    padding-bottom: calc(50% - 12px);
}
.tile + .tile {
    margin-top: 24px;
}
.tile .content {
    top: 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.tile:where(.ratio, .half-height) .content {
    position: absolute;
}
.tile .content .media {
    position: absolute;
    width: 100%;
    height: 100%;
}
.tile .content .media :where(img, video) {
    object-fit: contain;
    object-position: 50% 100%;
    width: 100%;
    height: 100%;
}
.tile .content .text {
    padding: 36px 48px 32px 48px;
    width: 100%;
    height: 100%;
}
.tile:where(.ratio, .half-height) .text {
    position: absolute;
}
.tile .content .text .btn-fsn-wrapper {
    margin-left: -.75rem;
}
.tile .content {
    display: flex;
    width: 100%;
}
.tile .content header {
    position: absolute;
    font-size: 1.25rem;
    font-weight: 500;
}
.tile .content .text.figure main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4rem 0;
}
@media (max-width: 991.98px) {
    .tile .content .text.figure main {
        display: block;
    }
    .tile .content .text.figure main .col {
        padding: 3rem 0 0 0;
    }
    .tile .content .text.figure main .col:last-child .figure {
        padding: 0;
    }
}
.tile .content .text main :where(h2, h3) {
    font-size: 4rem;
    font-weight: var(--font-weight-default-4);
    letter-spacing: -.005em;
    line-height: 1;
}
.tile .content .text.figure main .col {
    display: flex;
    flex-flow: column;
}
.tile .content .text.figure main .col .title {
    padding-right: 6rem;
}
.tile .content .text.figure main .col .figure {
    padding: 0 3.75rem;
}
.tile .content .text.figure main .col .figure p {
    max-width: 90%;
}
.tile .content .text.figure main h3 {
    margin-top: -0.4em;
}
.tile .content .text.figure main .figure{
    margin-top: -4rem;
}
.tile .content .text.figure main .figure span.key-figure {
    margin-left: -.075em;
    font-size: 9.5rem;
    font-weight: 600;
    letter-spacing: -.03em;
}
.tile .content .text.figure main .figure p {
    margin-top: -2rem;
    line-height: 1.25;
}

.card {
    width: auto;
    height: 28rem;
}
.card .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
    width: 100%;
    height: 8rem;
}
.card .card-body {
    padding: 2.25rem;
}
.card .card-body .card-text {
    color: var(--primary-b-1-default);
}
.card img {
    max-height: 8rem;
    height: 100%;
    width: auto;
    max-width: calc(100% - 6rem);
}
.info {
    margin: -1.5rem auto 6rem auto;
    position: relative;
}
.info .price {
    opacity: .8;
}
.card p.card-text {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--primary-b-1-default);
    
}
.card p.card-text * {
    font-weight: var(--font-weight-default-4)!important;
}
.tiles.module .row > div {
   padding: 12px;
}
.progress-bar {
    --progress-duration: 4s;
    width: 0;
    animation: var(--progress-duration) forwards progressBar cubic-bezier(.34, 0, .34, 1) .5s;
}
@keyframes progressBar {
    from {
        width: 0%!important;
    }
    to {
        width: calc(var(--progress-percent) * 1%);
    }
}

@property --num-percent {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.value-percent {
    animation: var(--progress-duration) forwards counter-percent cubic-bezier(.34, 0, .34, 1) .5s;
    counter-reset: num-percent var(--num-percent);
}
.value-percent::after {
    content: counter(num-percent);
}

@keyframes counter-percent {
    from {
        --num-percent: 0;
    }
    to {
        --num-percent: var(--progress-percent);
    }
}

@property --num-abs {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.value-abs {
    animation: var(--progress-duration) forwards counter-abs cubic-bezier(.34, 0, .34, 1) .5s;
    counter-reset: num-abs var(--num-abs);
}
.value-abs::after {
    content: counter(num-abs);
}

@keyframes counter-abs {
    from {
        --num-abs: 0;
    }
    to {
        --num-abs: var(--progress-abs);
    }
}

.peertube-logo {
    height: 7.799999999999987rem!important;
}
.mastodon-logo {
    margin-top: 0.8rem;
    height: 3.900000000000001rem!important;
}
.pixelfed-logo {
    height: 5.899999999999994rem!important;
}
.jitsi-logo {
    margin-top: 0.20000000000000015rem;
    height: 8.499999999999986rem!important;
}
.mobilizon-logo {
    margin-top: -0.8999999999999999rem;
    height: 2.5999999999999996rem!important;
}
.bbb-logo {
    margin-top: -0.4999999999999999rem;
    height: 3.8000000000000034rem!important;
}
#tooting img {
    object-fit: contain;
    object-position: 0 70%;
    opacity: .2;
}
#tooting-ch img {
    object-fit: contain;
    object-position: 0 70%;
    opacity: .2;
}
#secure img {
    object-fit: contain;
    object-position: right bottom;
    transform: scale(0.8);
    transform-origin: 100% 130%;
    opacity: .2;
}
#mastodon-vs-twitter img {
    object-fit: contain;
    object-position: right bottom;
    transform: scale(0.9);
    transform-origin: 100% 165%;
    opacity: .2;
}