@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("webfonts/inter/Inter-Thin3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-Thin3535.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("webfonts/inter/Inter-ThinItalic3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-ThinItalic3535.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("webfonts/inter/Inter-ExtraLight3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-ExtraLight3535.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("webfonts/inter/Inter-ExtraLightItalic3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-ExtraLightItalic3535.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("webfonts/inter/Inter-Light3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-Light3535.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("webfonts/inter/Inter-LightItalic3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-LightItalic3535.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("webfonts/inter/Inter-Regular3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-Regular3535.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("webfonts/inter/Inter-Italic3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-Italic3535.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("webfonts/inter/Inter-Medium3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-Medium3535.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("webfonts/inter/Inter-MediumItalic3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-MediumItalic3535.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("webfonts/inter/Inter-SemiBold3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-SemiBold3535.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("webfonts/inter/Inter-SemiBoldItalic3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-SemiBoldItalic3535.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("webfonts/inter/Inter-Bold3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-Bold3535.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("webfonts/inter/Inter-BoldItalic3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-BoldItalic3535.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("webfonts/inter/Inter-ExtraBold3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-ExtraBold3535.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("webfonts/inter/Inter-ExtraBoldItalic3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-ExtraBoldItalic3535.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("webfonts/inter/Inter-Black3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-Black3535.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("webfonts/inter/Inter-BlackItalic3535.html?v=3.19") format("woff2"),
         url("webfonts/inter/Inter-BlackItalic3535.woff?v=3.19") format("woff");
  }
  
  /* -------------------------------------------------------
  Variable font.
  Usage:
  
    html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
      html { font-family: 'Inter var', sans-serif; }
    }
  */
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("webfonts/inter/Inter-roman.var3535.html?v=3.19") format("woff2");
  }
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("webfonts/inter/Inter-italic.var3535.html?v=3.19") format("woff2");
  }
  
  
  /* --------------------------------------------------------------------------
  [EXPERIMENTAL] Multi-axis, single variable font.
  
  Slant axis is not yet widely supported (as of February 2019) and thus this
  multi-axis single variable font is opt-in rather than the default.
  
  When using this, you will probably need to set font-variation-settings
  explicitly, e.g.
  
    * { font-variation-settings: "slnt" 0deg }
    .italic { font-variation-settings: "slnt" 10deg }
  
  */
  @font-face {
    font-family: 'Inter var experimental';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: url("webfonts/inter/Inter.var3535.html?v=3.19") format("woff2");
  }
  